body {
  background-color:rgb(255, 255, 200);
}
#floating_wrapper {
  display:block;
  width:40px;
}
.comic-link {
    display:block;
    font-size:20px;
    text-align:center;
    font-family:sans-serif;
}
#comic-arena {
    text-align:center;
}
#comic-shrinkwrapper {
    text-align:center;
    margin-top:0px;
    background-color:white;
    border-radius:0px;
    display:inline-block;
    width:80%;
}
#comic-name {
    font-size:30px;
    font-family:"Courier New";
}
.navbutton {
    padding:20px;
    background-color:gainsboro;
    font-family:sans-serif;
    font-size:20px;
    margin:10px;
}
#navbuttons {
    margin:20px;
}
