@keyframes flyUp{
    0%{
        transform: translate(0, 0);
        opacity: 100%;
    }
    100%{
        transform: translate(0, -300px);
        opacity: 0%;
    }
}

html {
    min-width: 100%;
    height: 100%;
}

body {
    margin: 0px;
    background-color: #FFFDD0;
    min-width: 100%;
    height: 100%;
}

#content {
    min-height: 100%;
    min-width: 300px;
    width: 70%;
    background-color: white;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

* {
    font-family: sans-serif;
}

h1 {
    margin: 0px;
    padding: 10px;
}

p {
    line-height: 2rem;
    text-align: left;
    margin-left: 10%;
}

#game{
    background-color: orange;
    padding: 20px;
    border-radius: 20px;
    display: grid;
    height: auto;
    grid-template-areas:
    'distributionLabel distributionLabel distributionLabel'
    'distributionbar   distributionbar   distributionbar'
    'button1           attemptsnumber    button2'
    'accuracyLabel     accuracyLabel     accuracyLabel '
    'accuracybar       accuracybar       accuracybar'
    'yourValue         yourValue         yourValue';
    grid-template-rows: auto 10px  calc(100% - 20px) auto 10px auto;
    grid-template-columns: 33% 33% 33%;
    grid-row-gap: 20px;
    width: 80%;
    margin: auto;
}

#distributionLabel{
    grid-area: distributionLabel;
}

#yourPercentageLabel{
    grid-area: accuracyLabel;
}

#yourPercentageLabel, #distributionLabel{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#tries{
    text-align: center;
}

#computerPercentage{
    border-radius: 10px;
    background-color: red;
    grid-area: distributionbar;
}

#computerPercentage > #side{
    text-align: right;
    background-color: green;
    height: 10px;
}

#computerPercentage > #side > #slider{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: gray;
    margin-left: auto;
    margin-right: 0px;
    transform: translate(10px, -5px);
}

#yourPercentage{
    text-align: right;
    background-color: lightGrey;
    grid-area: accuracybar;
}

#yourPercentage > #side{
    text-align: right;
    background-color: grey;
    height: 10px;
}

#yourPercentage > #side > #slider{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: gray;
    margin-left: auto;
    margin-right: 0px;
    transform: translate(10px, -5px);
}

#buttons{
    display: flex;
}

#button1{
    grid-area: button1;
    background-color: green;
    min-height: 50px;
}

#button2{
    grid-area: button2;
    background-color: red;
}

#yourTelepathyValue{
    text-align: center;
    grid-area: yourValue;
}

.butt:hover{
    opacity: 50%;
}

.thumb{
    position: absolute;
    animation-name: flyUp;
    animation-duration: 1.5s;
}

.thumbup{
    background-image: url("../thumbsup.svg");
    width: 75px;
    height: 75px;
}

.thumbdown{
    background-image: url("../thumbsdown.svg");
    width: 75px;
    height: 75px;
}
